name: Build Flutter APK

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Free Disk Space
        run: |
          # ط­ط°ظپ ط§ظ„ط£ط¯ظˆط§طھ ط§ظ„طھظٹ ظ„ط§ طھط¤ط«ط± ط¹ظ„ظ‰ ط¨ظ†ط§ط، ط§ظ„ط£ظ†ط¯ط±ظˆظٹط¯ ط£ظˆ ط§ظ„ط¬ط§ظپط§
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo apt-get clean
          sudo docker image prune -a -f
          echo "ط§ظ„ظ…ط³ط§ط­ط© ط§ظ„ظ…طھط§ط­ط© ط§ظ„ط¢ظ†:"
          df -h
          
      - name: Clean Gradle cache
        run: |
          rm -rf ~/.gradle/caches
          rm -rf ~/.gradle/wrapper 
      
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Install Dependencies
        run: |
          flutter clean
          flutter pub get
          
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Build APK
        run: flutter build apk --release --split-per-abi 

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/app/outputs/flutter-apk/*.apk
          
