Name: Build Flutter APK

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # --- [تعديل هام] ---
      # استخدام أداة متخصصة لتنظيف القرص بعمق قبل البدء
      # هذا سيوفر مساحة كافية للـ NDK ومكتبات Zego الضخمة
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space-action@v1.3.1
        with:
          tool-cache: false
          android: false   # لا تحذف أدوات الأندرويد لأننا نحتاجها
          dotnet: true     # احذف دوت نت
          haskell: true    # احذف هاسكل
          large-packages: true # احذف الحزم الكبيرة المثبتة مسبقاً
          docker-images: true  # احذف صور دوكر
          swap-storage: true   # احذف ملفات السواب

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Install Dependencies
        run: |
          flutter clean
          flutter pub get
          
      # تمت إزالة خطوة "Setup Android SDK" الزائدة لتوفير المساحة
      # سيقوم Gradle بتحميل الـ SDK والـ NDK تلقائياً

      - name: Build APK
        # استخدام split-per-abi ممتاز لتقليل حجم ملف الـ APK وتخفيف الضغط على الرام أثناء البناء
        run: flutter build apk --release --split-per-abi 

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/app/outputs/flutter-apk/*.apk
